body {
  background-color: rgb(53, 53, 53);
}
.clock {
  position: absolute;
  font-size: 20px;
  color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  border-radius: 5px;
  padding: 8px;
}
.btn-blue {
  background-color: rgb(13, 126, 255);
  font-size: 20px;
}
.btn-yellow {
  background-color: rgb(251, 255, 17);
  font-size: 20px;
}
.btn-red {
  background-color: rgb(252, 16, 16);
  font-size: 20px;
}
